.u-section-1 .u-sheet-1 {
  min-height: 465px;
}

.u-section-1 .u-table-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}