html {
    font-family: sans-serif;
    font-family: "Optima";
    font-family: "Lato";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fafafa;
    color: #222;
    min-height: calc( 50vh );
    width: min(100%, 1000px);    
    margin-left: auto;
    margin-right: auto;
  }  

html, body, a {
  cursor: url('img/un-wand-32.png'), pointer;
}



h1 {
  padding-top: 200px;
}

h2 {
  color: #4320AC;
  font-size: 2rem;
}

a {
  color: #4320AC;
  text-decoration: none;
}

a:visited {
  color: #8465E2;
  text-decoration: none;
}

.header {
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  width: 100%;   
  padding-bottom: 15px;
  background: rgb(250,250,250);
  background: linear-gradient(180deg, rgba(250,250,250,0.75) 0%, rgba(250,250,250,0.2) 80%, rgba(250,250,250,0.0) 100%);
  backdrop-filter: blur(2px);  
  -webkit-mask-image: linear-gradient(180deg, black 0%, black 80%, transparent 100%);
  mask-image: linear-gradient(180deg, black 0%, black 80%, transparent 100%);
}

.header-content {
  width: min(100%, 1000px);    
  margin-left: auto;
  margin-right: auto;
}
  
.headline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: min(100%, 1000px);    
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: #000000;
  font-size: 40px;  
}

.date {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: min(100%, 1000px);    
  text-align: center;
  font-size: 25px;  
}

.test {
  font-size: 20px;
  margin-top: 600px;
}

.banner {
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  top: 170px;
  height:400px;
}

.banner-picture {
  left: auto;
  right: auto;
  position: absolute;
  width: 100%;  
  border-style: solid;
  border-width: 2px 0px;
  border-color: #4320AC;
  
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.banner-item {
  left: auto;
  right: auto;
  top: 130px;
  width:100%;  
  position: absolute;
  text-align: center;
}

.banner-text{
  color: #fafafa;
  font-size: 40pt;
  font-family: "Satisfy";
  text-align: center;
  margin: 0px;
  margin-top: 200px;
}

.text-1 {
  margin-left: 140pt;
  text-align: left;
}
.text-2 {
  margin-left: 100pt;
  text-align: left;
  font-size: 40pt;
}

.jellyfish {
  position: fixed;
  height: 50px;
  rotate: 30deg;
}

th, td{
  text-align: center !important;
}

div.card-box {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto;
}

div.cards {  
  background-color: #fafafa;
  color: #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 15px 20px;
}


div.container {
  text-align: center;
  padding: 5px 10px;
}


@media (max-width: 900px) {
  .banner-text{
    font-size: 50px;
  }
  .text-1 {
    margin-right: 150px;
  }
  .text-2 {
    margin-left: 150px;
  }
  .banner-item {
    top: 128px;
  }
  
  div.card-box {
    grid-template-columns: auto;
  }


}

@media (max-width: 575px) {
  .banner-text{
    font-size: 40px;
  }
  .banner-picture{
    height: 300px !important;
  }
  .text-1 {
    margin-right: 0px;
  }
  .text-2 {
    margin-left: 0px;
  }
  .banner-item {
    top: 92px;
  }
  .banner {
    top: 120px;
  }
  .headline {
    font-size: 30px;  
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .date {
    font-size: 20px;  
  }
  .test {
    font-size: 15px;
    margin-top: 450px;
  }
  .heart {
    font-size:0px !important; 
    color: #fafafa;
    margin-left:0px;
    margin-right:0px;
   }
}